# TURN Server Configuration
# Provide your TURN server credentials below.
TURN_URL=turn:YOUR_DOMAIN.COM:3478?transport=tcp
# This should be the same random string you put in your turnserver.conf
TURN_SECRET=MySuperSecretAuthKey_12345

# For strict firewalls requiring TLS, you might use:
# TURN_URL=turns:YOUR_DOMAIN.COM:5349?transport=tcp
