SIGNALING_PORT=8080
DOMAIN=yourdomain.com
TURN_SECRET=your_turn_secret
TURN_URL="turns:turn.yourdomain.com:5349"
COTURN_EXTERNAL_IP=your_external_ip
COTURN_REALM="${DOMAIN}"
COTURN_MIN_PORT=10000
COTURN_MAX_PORT=10500